@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');

@font-face{
    font-family: "Raleway" ;
    src: url('../cv deumou/fonts/Raleway.woff');
}

body{
    font-family: "raleway",sans-serif;
       
}

header{
    background-color: #782221;
    width: 1000px;
    margin: 20px auto;
    
}
.post{
    text-align: center;
    padding: 30px;
}
.post__link{
    width: 150px;
    border-radius:50%;
    box-shadow: 0px 0px 25px #ffff;
    
}
.post__link:hover{
    cursor: zoom-in;
}
h1{
    font-family: "lato",sans-serif;
    color: white;
}
h2{
    font-family: "lato", sans-serif;
    color: #ffff;
}
#flex-row{
    background-color: #2c1d27;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#flex-row a{
    color:#ffff ;
    font-style: italic;

}
#flex-row a{
    text-decoration: none;
    background: linear-gradient(to top, rgba(255,255,255) 0%,rgba(255,255,255) 5%, transparent 5%) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
}
#flex-row a:hover{
    background-size: 100% 100%;
}
#flex-row1{
    background-color: #782221;
    margin: 252px;  
    margin-top: -19.8px; 
    width: 315px;
    height:800px;
    margin-right:25px;
    padding-right: 45px;
    margin-bottom: inherit;
    Padding-top: 5px;
}

main {
    display: flex;
    margin:0px;

}

#container{
    order: 1; 
    flex: 1; 
    
}
#container h3{
    margin-left:20px
}

#container2 {
    order: 2; 
    flex: 1;  
    border-right:2px solid black;
    margin-right:252px;
    margin-top:-20px;
}

#flex-row2{

    padding-right: 100px;
    margin-left:10px;  
    margin-top:25px
    
}

.élément1{
    color: #ffff;
    text-align: inherit;
    margin-left: 20px;
    text-indent: 20px; 
}

#flex-row1 ul li{
    color: #ffff;
}

footer{
    background-color: #782221;
    margin: 252px;
    padding: 15px;
    margin-top: 0.25px;
    margin-bottom: 8px;
    text-align:center;
}

#réseau1:hover{
    opacity: 0.4;
}
#réseau2:hover{
    opacity: 0.4;
}
#réseau3:hover{
    opacity: 0.4;

}
#lien-réseau{
    display: flex;
    gap: 20px;
    padding-left: 490px;
}
#lien-réseau p a{
    color: #ffff;
}

.section-title {
    background-color: #dbc2a4;
    padding-left: 10px;
    border-left: 8px solid #782221;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 32px;
    font-family: "lato","sans-serif";
}

.section-content {

    font-style: normal;
}
.section-titleleft{
    background-color: #dbc2a4;
    height: 32px;
    font-family: "lato","sans-serif";
}
#flex-row3 img {
    margin: 0 20px; 
}
#mise-à-jour{
    color:#ffff;
    text-indent:310px;

}
